* {
    box-sizing: border-box;
}

body {
    font-family: "Verdana";
}

a {
    text-decoration: none;
    font-weight: 700;
}

div {
    width: fit-content;
    font-size: 1.2rem;
    padding: 20px 10px;
    border-left: #f44336 solid 8px;
    margin-bottom: 20px;
}

.danger {
    background-color: #ffdddd;
}

.success {
    background-color: #ddffdd;
    border-color: #0bac70;
}

.info {
    background-color: #e7f3fe;
    border-color: #2196f3;
}

.warning {
    background-color: #ffffcc;
    border-color: #ffeb3c;
    position: relative;
}

.icon {
    position: absolute;
    right: -10px;
    top: -10px;
}